
h1 {
  margin : 0;
}
#App{
}
.Sidenavbutton{
  position: fixed;
  color: white;
}
#Main{
  transition-duration: 0.2s;
  display: block;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  text-align: center;
  width: 100%;
  position: relative;
  top: 0;
  height:100px;
  min-height: 100px;
}
#Content{
  margin: 20px;
  padding: 10px;
}
  

.headerwrapper{
  height: 0px;
}


#top-container {
  background-image: url("https://picsum.photos/1000/200");
  background-size: cover;
  text-align: center;
  height: 200px;
}


.stickynav {
  position: fixed;
  top: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */
  height:100px;
  max-height: 100px;
  width: 100%;
  z-index: 100;
}


